body {
  direction: rtl;
  padding-top: 70px;
  font-family: delta;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.direction-ltr{
  direction: ltr;
}
.delta-btn{
  background-color: #35089d;
}
.delta-btn:hover{
  background-color: #25056d;
}

.delta-success-message{
    color: green
}

.delta-failure-message{
    color: red
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

/*Fonts*/
@font-face {
    font-family: delta;
    src: url('/fonts/Assistant-Regular.ttf');
}

@font-face {
    font-family: delta;
    src: url('/fonts/Assistant-Bold.ttf');
    font-weight: bold;
}
