.footer-copyright-container {
    width:80%;
    color: #fff;
    bottom: 25px;
    position: absolute;
    padding-top: 20px;
    border-top: 2px solid #eee;
}

.footer-container{
    height: 200px;
    position: relative;
    padding: 0;
    background-color: #424242;
}

.footer-links-container{
    color: #fff;
    padding-top: 25px;
}
.footer-links-container-col{
    padding:0 !important;
}
.footer-links-container-col div{
    cursor: pointer;
}

.footer-facebook-sharing-icon{
    float: left;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}