.container-login-form{
    margin-top:30px;
    padding-top:15px;
    background-color: #f5f5f5 !important;
    max-width: 450px;
}

.container-login-form label{
    padding-top:7px;
}

.delta-forgot-password span:hover{
    cursor: pointer;
}

.delta-forgot-password {
    height: 40px;
    line-height: 50px;
    font-size: 100%;
}

.login-top-buffer{
    margin-top:14px;
}

.col-login-button
{
    text-align: left;
    padding-top: 8px;
}

.delta-modal
{
    float: right;
}

.nav-tabs>li {
    float: right;
}

.forgot-password-link{
    margin-top: -15px;
}

.forgot-password-link:hover{
    cursor: pointer;
}

.delta-login-nav-tabs{
    margin: -20px;
}
.delta-login-nav-tabs li.active a{
    background-color: #f5f5f5 !important;;
}

.delta-login-nav-tabs li a{
    color: #555;
}
