.delta-bell-navbar-icon-mobile{
    padding-top:3px;
    padding-bottom:3px;
    max-height: 35px;
    z-index: 1002;
    cursor: pointer;
    display: inline;
}

.delta-bell-navbar-icon{
    padding-top:3px;
    padding-bottom:3px;
    max-height: 35px;
    z-index: 1002;
    cursor: pointer;
    display: inline;
    margin-right: 30px;
}

.delta-hello-user-area{
    height: 40px;
    line-height: 40px;
    font-size: 100%;
}

.delta-hello-user-area-mobile{
    height: 40px;
    line-height: 40px;
    font-size: 90%;
    margin-left: 10px;
}

.delta-bell-navbar{
    height: 40px;
    background-color: #eff0f1;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

.delta-navbar-container{
    margin:auto;
}

.navbar-search-btn{
    padding: 0;
}

.delta-log-in-out{
    margin-left: 10px;
}

.delta-nav-item{
    line-height: 40px;
    font-size: 100%;
    cursor: pointer;
    display: inline;
    margin-right:50px;
}

.delta-nav-item-mobile{
    line-height: 40px;
    font-size: 90%;
    cursor: pointer;
    display: inline;
    margin-right: 20px;
}

.search-bar{
    padding-top:3px;
}
.delta-hello-user-area{
    padding: 0;
}
.delta-hello-user-area span:hover{
    cursor: pointer;
}

.selected-nav-item{
    color: #35089d;
    font-weight: 700;
}