.home-layout-container{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.home-layout-container-tab{
    min-height: 250px;
    border-bottom: 1px solid #ccc;
    padding-top: 45px;
    width: 100%;
    position: relative;
    height: 500px;
    padding-right: 10%;
} 
.home-layout-container-tab-white{
    background-color: #fff;
}
.home-layout-container-tab-gray{
    background-color: #f5f5f5;
}

.home-layout-container-tab-title{
    font-weight: bold !important;
    font-size: 30px;
    margin-bottom: 20px;
}

.home-layout-container-tab-description{
    font-size: 20px;
}

.home-layout-img-left{
    position: absolute;
    top: 70px;
    left: 10%;
    height: 360px;
    width: 560px;
    max-width: 40%;
    border: 1px solid #ccc;
}

.home-layout-img-right{
    position: absolute;
    top: 70px;
    right: 10%;
    height: 360px;
    width: 560px;
    max-width: 40%;
    border: 1px solid #ccc;
}

.home-layout-btn{
    border-color: black;
    margin-left: 15px;
    min-width: 100px;
}

.home-layout-btn-gray{
    background-color: #eff0f1;
}

.home-layout-btn-white{
    background-color: #fff;
}

.three-dimensions-directives{
    width: 460px;
    font-weight: bold;
    font-size: small;
}

.delta-main-cesium{
    top: 90px !important;
}