.home-header{
    color: #35089d;
    border: 1px;
    font-weight: bold !important;
    font-size: 50px;
    align-self: center;
    text-align: center;
}

.home-headline-image{
    width: 100%;
    z-index: -1;
    bottom: 0;
}
.home-headline-indicator{
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.home-headline-container{
    padding-top: 20px;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-space{
    height: 20px;
}

.home-searchbar{
    background-color: #fff;
    border: 1px;
    font-weight: bold !important;
    width: 400px;
    height: 50px;
    align-self: center;
    margin-top: 200px;
    border: none;
    padding-right: 20px;
    padding-left: 200px;
    border-radius: 5px;
}

.home-searchbar:hover{
    cursor: pointer;
}

.home-headline-list{
    background-color: #fff;
    font-weight: bold !important;
    border: solid #ccc 1px;
    width: 400px;
    align-self: center;
    margin-top: 250px;
}

.home-headline-list div{
    height: 30px;
    padding-right: 20px;
}

.home-headline-list div:hover{
    background-color: #eff0f1;
    cursor: pointer;
}