.home-information-panel-sections {
    padding-top: 30px;
    font-size: 20px;
}

.panel-section-icon-container {
    padding: 30px;
}

.home-information-panel h2{
    font-weight: bold !important;
    margin-bottom: 15px;
}

.home-information-panel {
    padding-top: 45px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    min-height: 250px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5 !important;
}