.map-info-header-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-info-header-container{
    position: relative;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    padding-top: 6px;
}
.map-info-header-container:hover{
    cursor: pointer;
}

.map-info-header-glypicon{
    top: 10px;
    position: absolute;
    color: #333333 !important;
    left: 20px;
}
