.map-toolbar{
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
}

.map-toolbar-search-container{
    height: 35px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    padding-top:8px;
    padding-right: 15px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.map-toolbar-search-glyphicon{
    color: #333 !important;
    float: left;
    left: -13px;
    top: -1px;
}

.map-toolbar-search-glyphicon-search-bar{
    padding-left: 18px !important;
    padding-top: 1px !important;
}

.map-toolbar-search-glyphicon:hover{
    cursor: pointer;
}

.map-toolbar-search-input{
    border: 0;
    width: 210px;
}

.map-toolbar-search-input:focus{
    outline: none;
}

.map-search-tab{
    background-color: #eff0f1;
    padding: 5px !important;
}

.map-toolbar-ul{
    padding-right: 10px;
    font-size: 12px;
}

.map-toolbar-search-parcel-input{
    width: 60px;
    border: 0;
    border-bottom: 1px solid #757575;
    margin-right: 10px;
    margin-left: 10px;
}

.map-toolbar-search-parcel-input:focus{
    outline: none;
}

.map-toolbar-parcel-label{
    color: #757575;
}
.map-toolbar-button{
    height: 35px;
    width: 31px;
    background-color: white;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 3px;
}

.map-toolbar-button:hover{
    cursor: pointer;
}

.map-toolbar-button-container{
    top: 69px;
    width: 31px;
    position: absolute;
    left: 0px;
}
.map-toolbar-search-button{
    top: 29px;
    padding-top: 8px;
    float: left;
}

.map-toolbar-button-uncheckd{
    filter: brightness(70%);
}

.map-toolbar-marker-img{
    height: 90%;
    position: absolute;
    right: 6px;
}

.glyphicon-info-sign-pos-fix{
    padding-right: 1px;
    padding-top: 2px;
    color: #333 !important;
}

.rotate-button{
    padding-top: 6px !important;
}