.map-info-layout{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #fff;
    z-index:2;
    border-left: 5px solid #fff;
}

.map-info-gmap-container{
    height: 250px;
    width: 100%;
    position: relative;
}

.map-info-gmap-container-in{
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-info-gmap{
    height: 100%;
    width: 100%;
}

.map-info-pano{
    width: 100%;
    height: 300px;
}
