.cesium-credit-text{
    visibility: hidden;
}
.cesium-credit-delimiter{
    visibility: hidden;
}
.cesium-credit-image{
    visibility: hidden;
}
.cesium-toolbar-button{
    visibility: hidden;
}

.delta-bell-cesium-container{
    bottom: 0;
    width: 100%;
    background-color: #424242;
    z-index: 1;
    position: absolute;
    top:40px;
}

.cesium-container{
    height: 100%;
    width: 100%;
    z-index:1;
}

.map-info-right-container{
    right: 0;
    bottom: 0;
    top:0;
    position: absolute;
    overflow: auto;
    width: 100%;
}
.map-info-col{
    padding:0;
    z-index: 3;
}
.map-info-button-col{
    padding-right: 0;
    padding-left: 0;
    top: 50px;
    background-color: transparent;
    z-index:4;
    position: absolute;
    left: 0;
}

.map-info-div{
    border:0px;
    background-color: #fff;
    height: 40px;
    width: 30px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;   
}
.map-info-div:hover{
    cursor: pointer;
}
.map-info-div-glyphicon{
    color: #333 !important;
}
.glyphicon-div{
    padding-top:25%;
    padding-right:15%;
}

.expand-button-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.map-info-background{
    background-color: #fff;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    border-left: 5px solid #fff;
}