.parcel-info-header{
    font-size:12px;
    color: #ccc;
    padding-top: 2px;
    font-weight: 500;
    padding-right: 10px;
}
.parcel-info-data{
    font-size:16px;
    color: #000;
    font-weight: 500;
    padding-right: 10px;
}

.parcel-info{
    padding-right:5%;
    background-color: #fff;
    overflow-x: auto;
    width: 100%;
}

.parcel-info-container{
    overflow-x: auto;
}