.account-layout-row{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin: 0;
}

.account-layout-col{
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top:50px;
    overflow:scroll;
}

.account-layout-menu-col{
    border-left: 1px solid #ccc;
    padding-top:50px;
}