.selected-menu{
    color: #35089d;
    font-weight: 700;
}

.account-menu-new-apartment{
    height: 20px;
    font-size: 100%;
    padding-right: 60px;
    margin-top:5px;
    color: firebrick;
    font-weight: 700;
    cursor: pointer;
}