.viewer-mailing-list-section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 500px;
}

.container-viewer-mailing-list{
    padding-right:10%;
    width: 80%;
    padding-top:20px;
}

.delta-group-checkbox{
    text-align: left
}

.delta-emails{
    background: aliceblue;
    min-height: 400px;
}