.viewer-statistics-section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 500px;
}

.delta-visit-row{
    margin-right: 25px
}

.delta-account-name{
    margin-right: 20px;
    margin-bottom: 12px;
    border-bottom-style: dotted;
    border-bottom-width: thin;
}

.visit-log-row-time{
    font-weight: 100;
}

.visit-log-row-description{
    font-weight: bold;
    margin-right: 40px;
    margin-left: 5px;
}

.filter-admin-visits-container{
    float: left;
}

.label-checkbox-filter-admin{
    margin-left: 10px;
}

.usage-log-rows-container{
    margin-top: 30px;
}

