.container-viewer-apartment{
    padding-right:10%;
    width: 80%;
    padding-top:20px;
}

.viewer-apartment-section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 500px;
}

.viewer-apartment-location-section{
    height: 500px;
}

.viewer-apartment-image-section{
    margin-bottom: 5px;
    padding: 0px;
}

.custom-file-upload input{
    display: none;
}

.viewer-apartment-glyphicon{
    font-size: 14px;
    padding-left: 0;
}

.apartment-glypicon-row{
    margin-top:60px;
    margin-left:20px;
}

.delta-nav-tabs li a{
    color: #555;
}

.saving-section{
    padding-top:10px;
    border-top: 1px solid #ccc;
}

.delta-explanation{
    padding-bottom: 20px;
    height: 60%;
}

.btn-search-container{
    padding-right: 0 !important
}

.delta-secondary-map{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
}

.location-left-side{
    height: 100%;
}

.location-right-side{
    height: 100%;
}

.delta-main-map-external-container{
    padding-left: 28px;
    bottom: 0;
    width: 100%;
    position: absolute;
    top: 50px;
}

.delta-search-address-controls{
    padding-bottom: 10px;
}

.float-left{
    float: left;
}

.delta-owner-controls{
    background-color: rgba(52, 8, 157, 0.04);
    padding: 7px;
}

.account-input{
    width: 100%;
}

.upload-picture-result{
    text-align: center;
    margin-bottom: 5px;
}