.container-viewer-settings{
    padding-right:10%;
    width: 80%;
    padding-top:20px;
}

.viewer-settings-section{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
}

.delta-section-title{
    font-size: 22px;
    margin-bottom: 15px;
}

.delta-first-section-title{
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo-delete-btn{
    margin-left: 15px;
}

.logo-image{
    border: 1px solid #ccc;
    height: 180px;
    max-width: 100%;
    margin-bottom: 5px;
}

.delta-btn-refresh-visits{
    margin-top: 20px;
}
