.delta-bell-apt-summary-container{
    padding-top: 15px;
    background-color: #f4f5f9;
    background-color: #fff;
    margin-bottom: 15px;
}

.single-apartment-title{
    font-size: 35px;
    padding-top: 15px;
}

.delta-align-content-left{
    text-align: left;
}

