
.apt-details-container{
    background-color: #f4f5f9;
    background-color: #fff;
    font-size: 20px;
    min-height: 200px;
}

.feature_item {
    padding-right: 15px;
}

.feature-title {
    color: #757575;
    font-weight: bold;
}

.feature-check > .glyphicon-ok {
    color: #4CAF50;
}

.feature-check > .glyphicon-remove {
    color: #9c9c9d;
}

.feature-container{
    padding-top:45px;
}