.delta-full-screen-button{
    color: #666;
    font-size: x-large;
    padding: 5px;
    cursor: pointer;
}

.delta-full-screen-button-container{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    bottom: 50px;
    right: 10px;
}