.gallery-container{
    height: 420px;
}
.gallery-container > div {
    padding-top: 30px;
}

.gallery-img-bg {
    height: 100%;
}

.gallery-img-sm {
    height: 50%;
}

.gallery-img-sm  > img, .gallery-img-bg > img {
    height: 100%;
    width: 100%;
    padding: 1px;
    cursor: pointer;
    background-color: #f5f5f5;
}

.gallery-disbled-padding-left {
    padding-left: 0px !important;;
}

.gallery-disbled-padding-right {
    padding-right: 0px !important;
}

.gallery-col{
    height: 100%;
}
