.board-grid{
    width: 100%;
    height: 100%;
    background-color: rgba(239, 240, 241, 0.71);
}

.board-apartments{
    overflow: auto;
    position: absolute;
    bottom: 40px;
    top: 60px;
    width: 100%;
}

.board-apartments-mobile{
    overflow: auto;
    bottom: 40px;
    top: 110px;
    position: absolute;
    width: 100%;
}

.board-grid-thumbnail{
    height: 350px;
    margin-top:20px;
    width: 100%;
    background-color: #fff;
}

.board-grid-tumbnail-image{
    height: 230px;
    width: 100%;
    overflow: hidden;
}

.board-grid-tumbnail-image img{
    min-height: 100%;
    max-width: 100%;
}

.board-grid-thumbnail:hover{
    cursor: pointer;
    border: 1px solid #35089d;
}
.board-grid-thumbnail:hover  .board-grid-tumbnail-image img{
    border-top: 1px solid #35089d;
    border-left: 1px solid #35089d;
    border-right: 1px solid #35089d;
}

.board-grid-thumbnail-caption{
    height: 120px;
    border: 1px solid #35089d;
}

.board-grid-row{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    display: table;
}
.board-grid-row:hover{
    background-color: #eff0f1;
    font-weight: 700;
}

.board-grid-title-row{
    border-top: 1px solid #ccc;
    position: absolute;
    top: 60px;
    background-color: #eff0f1;
    font-weight: bold !important;
    z-index: 3;
}

.board-grid-title-row-mobile{
    border-top: 1px solid #ccc;
    position: absolute;
    background-color: #eff0f1;
    font-weight: bold !important;
    z-index: 3;
}

.board-grid-row-first{
    margin-top:40px;
}

.board-grid-col-vertical{
    display: table-cell;
    vertical-align: middle;
}

.glyphicon-eye-hover:hover{
    cursor: pointer;
}

.board-glyphicon-eye-open{
    font-size: 17px;
    z-index:2;
}

.board-grid-thumnail-row{
    height: 30px;
}

.board-grid-thumnail-row-title{
    font-size: 20px;
    height: 60px;
}

.board-grid-thumnail-row-top-border{
    border-top: 1px solid #35089d;
    margin: 0;
    padding-top:5px;
    vertical-align: middle;
}      