.board-grid-header{
    position: absolute;
    top: 0;
    height: 60px;
    background-color: #eff0f1;
    width: 100%;
    display: table;
}

.board-grid-header-vertical{
    display: table-cell;
    vertical-align: middle;
}

.board-grid-header-glyphicon{
    font-size: 14px;
    padding-left: 0;
}

.board-grid-header-button{
    background-color: #eff0f1;
}

.rtl { direction: rtl; }
.rtl .dropdown-menu-right { text-align: right; }

.dropdown-margin-right{
    margin-right: 10px;
}

.dropdown-margin-left{
    margin-left: 10px !important;
}

.result-text{
    height: 34px;
    line-height: 30px;
    text-align: center;
}