.board-gmap{
    height: 100%;
    width: 100%;
    
}

.board-gmap-container{
    border-right: 1px solid #ccc;
    height: 100%;
    width: 100%;
}

.main-info-window{
    width: 230px;
    min-height: 125px;
}

.main-info-window:hover{
    cursor: pointer;
}

.main-info-window-img{
    width: 130px;
    height: 100px;
}
.main-info-window-img-section{
    left:0;
    width: 50%;
    position: absolute;
}
.main-info-window-data-section{
    width: 100px;
}
.main-info-window-data-title{
    font-weight: 500;
    font-size:16px;
    margin-bottom: 10px;
    width: 100px;
}
.db-info-window{
    background-color: transparent;
}

.db-info-window:hover .db-info-window-price{
    cursor: pointer;
}

.db-info-window:hover .db-marker-glyphicon-triangle-bottom{
    cursor: pointer;
}

.db-info-window-price{
    font-size: 13px;
    background-color: #9d9e9e;
    color: white;
    padding: 4px;
    font-weight: 500;
    border-radius: 5px;
}

.db-marker-glyphicon-triangle-bottom{
    font-size: 20px;
    color: #9d9e9e;
    left:50%;
    margin-left: -13px;
    position: absolute;
    padding-top:13px;
}

.gm-style-iw{
    min-height: 30px;
    right: 27px !important;
    top: 45px !important;
}

.front{
    z-index: 10000 !important;
}

.remove-height{
    height: 0px !important;
}

.main-info-window-iw{
    top: 10px !important;
    z-index: 10001 !important;
    right:15px !important;
}

.shekel{
    float:left;
    margin-right: 3px;
}

.map-glyphicon-eye-open{
    font-size: 17px;
    position: absolute;
    bottom: 0;
    top: auto;
}