.board-header{
    height: 60px;
    background-color: #fff;
    z-index:1;
    position: absolute;
    width:100%;
    border-bottom: 1px solid #ccc;
    display: table;
}

.board-header-vertical{
    display: table-cell;
    vertical-align: middle;
}

.board-grid-header-item{
    cursor: pointer;
    display: inline;
    margin-left: 20px;
}
.grid-header-filter-text{
    display: inline;
    margin-right: 15px;
    margin-left: 20px;
}
.board-header-filter-line{
    overflow-x: scroll;
}
.input-grid-header-address{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.input-grid-header-address:focus{
    outline: none;
}

.board-header-search-glyphicon{
    font-size: 10px;
}

.board-header-glyphicon{
    font-size: 10px;
    padding-right: 10px
}

.board-header-filter-description{
    top: 100px;
    height: 90px;
    padding: 20px;
    background-color: #fff;
    z-index:5;
    position: absolute;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: table;
    left: 50%;
    transform: translate(-50%);
}
.board-header-filter-input{
    padding: 9px;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    border: 1px solid #646971;
}

.board-header-filter-container{
    display: inline;
}

.rooms-filter-label{
    margin-left: 25px;
    margin-right: 5px;
}

.header-bold{
    font-weight: 700;
}
