.board-body-row{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    margin: 0;
}

.borad-body-col{
    height: 100%;
    margin: 0;
    padding: 0;
}