.filter-modal-content{
    background: aliceblue;
    height: 100%;
    padding: 15px;
}

.filter-section-title{
    font-size: 15px;
    font-weight: bold
}

.filter-futter{    
    position: absolute;
    bottom: 0;
    height: 50px;
    border-top: 1px solid #ccc;
    width: 100%;
    display: table;
    margin-right: -12px;
    margin-top: 10px;
    padding-top: 3px;
}

.unselected-feature{
    font-weight: 200
}

.selected-feature{
    font-weight: 900;
    color: #35089d;
}

.feature-item{
    text-align: center;
    font-size: 13px;
    padding-right: 0px;
}

.first-filter-section{
    padding-top: 13px;
}

.mobile-rooms-filter-label{
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 200
}

.selected{
    background: #32139b;
    color: aliceblue;
}

.filtered-apartments-count{
    font-size: 13px;
    padding-top: 8px;
}

.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

.feature-text{
    padding: 5px;
    margin: 3px;
}

.mobile-board-header-filter-input{
    padding-right: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    width: 80%;
    border: 1px solid #646971;
}

.filter-fields-section{
    margin-top: 5px;
    margin-bottom: 15px;
}

.row-criterias-count{
    margin-bottom: 20px;
}

.condition-counter-container{
    text-align: left;
}

.delta-trash-glyphicon{
    margin-top: 3px;
    padding-right: 0px;
}

.mobile-close-filter-modal{
    font-size: 30px;
    color: green;
}

.mobile-filter-criterias{
    overflow: auto;
    bottom: 50px;
    top: 55px;
    position: absolute;
    width: 100%;
}
    