.board-grid-pager{
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: #eff0f1;
    border-top: 1px solid #ccc;
    width: 100%;
    display: table;
}

.board-grid-pager-vertical{
    display: table-cell;
    vertical-align: middle;
}

.board-grid-pager-button{
    background-color: #eff0f1;
    border-style:none;
}

.board-grid-pager-glyphicon{
    font-size: 14px;
    padding-left: 0;
}

.float-left{
    float: left;
}