.mobile-info-window{
    padding: 12px;
    margin-left: 8px !important;
}

.mobile-info-icons-section{
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    height: 60px;
    position: relative;
}

.mobile-grid-eye-icon{
    top: 0;
    font-size: 18px;
    height: 50%;
}

.mobile-grid-show-page-icon{
    bottom: 0;
    font-size: 18px;
    margin-top: 10px;
}

.mobile-info-data-section{
    padding-left: 8px;
    font-weight: 600;
    font-size: 12px;
}

.apartment-date{
    font-weight: 200;
    font-size: 13px;
    padding-top: 11px;
} 

.mobile-info-img-section{
    padding-left: 8px;
    padding-right: 0px;    
}

.apartment-extanded-info{
    margin-right: 15px;
}

.mobile-info-img{
    height: 60px;
} 

.board-grid-col-vertical-mobile{
    vertical-align: middle;
    padding-right: 10px;
    margin-left: 0px;
}

.text-align-left{
    text-align: left;
}


.mobile-down-up-icon{
    width: 100%;
    text-align: center;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 5px;
}