.container-contact-us-form{
    margin-top:30px;
    padding-top:15px;
    margin-bottom :30px;
    border: 1px solid #ccc;
    background-color: #f5f5f5 !important;
    min-height: 400px;
    max-width: 600px;
}

.container-contact-us-form label{
    padding-top:7px;
}

.top-buffer{ 
    margin-top:14px; 
}