.contact-us-container h2{
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: bold !important;
    margin-bottom: 15px;
    text-align: center;
}

.contact-us-container{
    font-size:120%;
}

.contact-us-container a{
    color: #35089d;
    font-weight: bold !important;
}

.container-contact-us-text{
    max-width: 600px;
    margin: auto;
}